body{
    height:1000px;
}



.head-line{
    border:0.1px solid #eae6e6;
    position: absolute;
    top:3.5em;
    width:1505px;
}



.head-bar{
    border: 2.5px solid black;
    position:relative;
    top:7em;
    width:1503px;
}
.heading{
    font-size:xxx-large;
    position: absolute;
    left:2em;
    top:3px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;

}
li_1 {
    float:left;
    position: absolute;
    top:4.5em;
    left:5em;
}
li_1 a, .dropbtn_1{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
li_1 a:hover .dropdown_1:hover .dropbtn_1{
    background-color: red;
    
}
li_1.dropdown_1{
    display: inline-block;
   
}
.dropdown_content_1{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(64, 63, 63);
    z-index: 1;
    
}
.dropdown_content_1 a{
    color:rgb(255, 255, 255);
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}
.dropdown_content_1 a:hover {background-color: #363434;}
.dropdown_1:hover .dropdown_content_1{
    display: block;
}
li_2{
    float:left;
    position:  absolute;
    top:4.5em;
    left:15em;
}
li_2 a, .dropbtn_2{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
li_2 a:hover .dropdown_2:hover .dropbtn_2{
    background-color: red;
    
}
li_2.dropdown_2{
    display: inline-block;
   
}
.dropdown_content_2{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgb(64, 63, 63);
    z-index: 1;
    
}
.dropdown_content_2 a{
    color:rgb(255, 255, 255);
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}
.dropdown_content_2 a:hover {background-color: #363434;}
.dropdown_2:hover .dropdown_content_2{
    display: block;
}
li_3{
    float:left;
    position:  absolute;
    top:4.5em;
    left:25em;
}
li_3 a, .dropbtn_3{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
li_3 a:hover .dropdown_3:hover .dropbtn_3{
    background-color: red;
    
}
li_3.dropdown_3{
    display: inline-block;
   
}
.dropdown_content_3{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgb(64, 63, 63);
    z-index: 1;
    
}
.dropdown_content_3 a{
    color:rgb(255, 255, 255);
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}
.dropdown_content_3 a:hover {background-color: #363434;}
.dropdown_3:hover .dropdown_content_3{
    display: block;
}
li {
    float:left;
    position: absolute;
    top:4.5em;
    left:35em;
}
li a, .dropbtn{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
li a:hover .dropdown_1:hover .dropbtn_1{
    background-color: red;
    
}
li.dropdown_1{
    display: inline-block;
}
.vertical_line{
    border:0.1px solid #eae6e6;
    width:0;
    height:40px;
    position: absolute;
    left: 34.5em;
    top:4.5em;
}
li_t {
    float:left;
    position: absolute;
    top:0.5em;
    left:70em;
}
li_t a, .dropbtn{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
li_t a:hover .dropdown_1:hover .dropbtn_1{
    background-color: red;
    
}
li_t.dropdown_1{
    display: inline-block;
}
.vertical_line_2{
    border:0.1px solid #eae6e6;
    width:0;
    height:50px;
    position: absolute;
    left: 10em;
    top:-0.4em;
}
.big{
    border:0px solid black;
    height:350px;
    width:1000px;
    position: absolute;
    top:10em;
    right:1.75em;
}
.news{
border:0px solid black;
width:500px;
height:350px;
background-color: #29303c;

}
.research{
position: absolute;
left:0em;
top:0em;
font-size: xx-large;
color: #eae6e6;
float: left;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration:solid;
}
.research:hover{
    text-decoration:underline;
}
.author{
    color:rgb(210, 204, 204);
    font-size: medium;
    text-align: right;
}
.img{
    position: absolute;
    left:15.6em;
    top:0;
    
}
